$pine: #3e8fb0;
$foam: #9ccfd8;
$font: "Cantarell, Regular";
$borderRadius: 8px;
$border: 1px solid rgba(255, 255, 255, 0.243);

window.Bar {
  background: transparent;
  font-weight: bold;
  font-family: $font;

  > centerbox {
    background: rgba(255, 255, 255, 0.234);
    border-radius: $borderRadius;
    margin: 16px 16px 0px 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: $border;
  }

  button {
    margin: 2px;
    background: rgba(255, 255, 255, 0.206);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: $border;
    border-radius: $borderRadius;
  }

  .Workspaces {
    .focused {
      color: $pine
    }
  }

  .AudioSlider {
    * {
      all: unset;
    }
    icon {
      margin-right: 0.6em;
    }
    & {
      margin: 1em;
    }
    trough {
      background-color: $pine;
      border-radius: $borderRadius;
    }
    highlight {
      background-color: $foam;
      min-height: 0.8em;
      border-radius: $borderRadius;
    }
  }
}
